@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 text-center my-4 text-white">Welcome</h1>
    <h2 class="display-5 text-center my-4 text-white">Our Books</h2>

    <div class="d-flex flex-wrap gap-5 justify-content-center">
        <div class="card bg-dark text-white" style="width: 18rem;">
            <img src="https://storage.googleapis.com/catalogo-libros/extralarge/a3a08c46-0a36-ad31-b7d7-609e87c80526_imagen.jpg" class="card-img-top img-books" alt="Sapiens">
            <div class="card-body">
                <h5 class="card-title">Sapiens: A brief history of humankind</h5>
                <p class="card-text">YUVAL NOAH HARARI</p>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 18rem;">
            <img src="https://images.cdn3.buscalibre.com/fit-in/360x360/45/b1/45b1ac07306dd8506b2ce2eb834d5a14.jpg" class="card-img-top img-books" alt="Harry Potter and the philosopher's stone">
            <div class="card-body">
                <h5 class="card-title">Harry Potter and the philosopher's stone</h5>
                <p class="card-text">J.K Rowling</p>
            </div>
        </div>
                <div class="card bg-dark text-white" style="width: 18rem;">
            <img src="https://storage.googleapis.com/catalogo-libros/extralarge/a3a08c46-0a36-ad31-b7d7-609e87c80526_imagen.jpg" class="card-img-top img-books" alt="Sapiens">
            <div class="card-body">
                <h5 class="card-title">Sapiens: A brief history of humankind</h5>
                <p class="card-text">YUVAL NOAH HARARI</p>
            </div>
        </div>
                <div class="card bg-dark text-white" style="width: 18rem;">
            <img src="https://images.cdn3.buscalibre.com/fit-in/360x360/45/b1/45b1ac07306dd8506b2ce2eb834d5a14.jpg" class="card-img-top img-books" alt="Harry Potter and the philosopher's stone">
            <div class="card-body">
                <h5 class="card-title">Harry Potter and the philosopher's stone</h5>
                <p class="card-text">J.K Rowling</p>
            </div>
        </div>
                <div class="card bg-dark text-white" style="width: 18rem;">
            <img src="https://storage.googleapis.com/catalogo-libros/extralarge/a3a08c46-0a36-ad31-b7d7-609e87c80526_imagen.jpg" class="card-img-top img-books" alt="Sapiens">
            <div class="card-body">
                <h5 class="card-title">Sapiens: A brief history of humankind</h5>
                <p class="card-text">YUVAL NOAH HARARI</p>
            </div>
        </div>
        <div class="card bg-dark text-white" style="width: 18rem;">
            <img src="https://images.cdn3.buscalibre.com/fit-in/360x360/45/b1/45b1ac07306dd8506b2ce2eb834d5a14.jpg" class="card-img-top img-books" alt="Harry Potter and the philosopher's stone">
            <div class="card-body">
                <h5 class="card-title">Harry Potter and the philosopher's stone</h5>
                <p class="card-text">J.K Rowling</p>
            </div>
        </div>
                <div class="card bg-dark text-white" style="width: 18rem;">
            <img src="https://storage.googleapis.com/catalogo-libros/extralarge/a3a08c46-0a36-ad31-b7d7-609e87c80526_imagen.jpg" class="card-img-top img-books" alt="Sapiens">
            <div class="card-body">
                <h5 class="card-title">Sapiens: A brief history of humankind</h5>
                <p class="card-text">YUVAL NOAH HARARI</p>
            </div>
        </div>
                <div class="card bg-dark text-white" style="width: 18rem;">
            <img src="https://images.cdn3.buscalibre.com/fit-in/360x360/45/b1/45b1ac07306dd8506b2ce2eb834d5a14.jpg" class="card-img-top img-books" alt="Harry Potter and the philosopher's stone">
            <div class="card-body">
                <h5 class="card-title">Harry Potter and the philosopher's stone</h5>
                <p class="card-text">J.K Rowling</p>
            </div>
        </div>
                <div class="card bg-dark text-white" style="width: 18rem;">
            <img src="https://storage.googleapis.com/catalogo-libros/extralarge/a3a08c46-0a36-ad31-b7d7-609e87c80526_imagen.jpg" class="card-img-top img-books" alt="Sapiens">
            <div class="card-body">
                <h5 class="card-title">Sapiens: A brief history of humankind</h5>
                <p class="card-text">YUVAL NOAH HARARI</p>
            </div>
        </div>
    </div>
</div>
